.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
}

.form input {
    padding: 10px 0;
    margin: 8px 0;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    color: #383838;
    font-weight: 500;
}

.form button {
    padding: 8px 0;
    margin: 6px 0;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: #9b9b9b;
    cursor: pointer;
    transition: 0.4s;
}

.form button:hover {
    background-color: #483182;
    color: #FFF
}

.result {
    width: 420px;
    color: #FFF;
    margin: 10px 0;
}

.result p {
    font-size: 22px;
}

.learn-more a p {
    margin-top: 22px;
    font-size: 18px;
}

.learn-more a {
    text-decoration: none;
    color: #7a1fbb;
    font-weight: bold;
    font-style: italic;
}

/* Aplicando responsividade */
@media (max-width: 460px) {
    .container {
        padding: 0 18px;
    }

    .result {
        text-align: center;
        width: 100%;
    }

    .learn-more p {
        width: 100%;
        font-size: 17px;
    }
}