.learn-more {
    color: #FFF;
    display: flex;
}

.learn-more-text {
    padding: 20px 123px 48px 123px;
}

.learn-more-text h1 {
    text-align: center;
    margin-bottom: 42px;
    color: #7a1fbb;
}

.learn-more-text p {
    line-height: 150%;
    font-size: 18px;
}

.learn-more-text h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.learn-more-text img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 34px;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    font-size: 22px;
}

.table li {
    padding: 5px 0;
}

.classification-name {
    list-style: none;
}

.result-imc {
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    padding: 8px;

}

.classification-list {
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    padding: 8px;
}

.inportant {
    font-size: 26px;
    font-weight: 700;
}

.fa-solid-fa {
    width: 100%;
}

footer {
    margin-top: 22px
}

footer span {
    color: #7a1fbb;
    font-size: 22px;
    font-style: italic;
}

/* Aplicando responsividade */

@media (max-width: 650px) {
    .learn-more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
    }

    .learn-more-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 3px;
    }

    footer {
        margin-bottom: 18px;
    }

    .learn-more-text img {
        width: 365px;
    }
}